UnrealPlus/Saved/
UnrealPlus/Intermediate/
UnrealPlus/Binaries/
UnrealPlus/Build/
UnrealPlus/UnrealPlus.xcworkspace/xcuserdata/
UnrealPlus/Content/StarterContent/
UnrealPlus/Content/ThirdPerson/
UnrealPlus/Content/Mannequin/
UnrealPlus/Content/Geometry/
UnrealPlus/DerivedDataCache/

*.DS_Store
